; [user]
; 	name = "{{ .username }}" 
; 	email = "{{ .email }}"
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[credential]
    useHttpPath = true
[init]
  defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
